version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: weatherdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - webnet

  web:
    build: ./web
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: weatherdb
      DB_USER: appuser
      DB_PASS: apppass
    volumes:
      - ./web/www:/var/www/weather_site   # код приложения
    networks:
      - webnet
    expose:
      - "80"

  nginx:
    image: nginx:stable
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx_static:/srv/www_static:ro       # нестандартная root для nginx
    networks:
      - webnet

volumes:
  db_data:

networks:
  webnet:
    driver: bridge
